{{template "base/head" .}}
<div class="home">
	<div style="text-align:center;">
		<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/logo.png" alt="XFRI"></a>
		<br><br>
		An organization that studies any paranormal phenomenon in the world, and this is its offshoot, a purely open source organization that aims to explore the fields of computer science and open source.

		<h2> Here we use various technologies without bias </h2>
		<div style="float: left">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/colour-icon.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/fsharp256.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Rescript-logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/ISO_C++_Logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Rust_programming_language_black_logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/768px-Go_Logo_Blue.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Scala-spiral-noise-sm.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Java_programming_language_logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/racket-logo.svg" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/JavaScript-logo.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Typescript_logo_2020.svg.png" height="30px">
			<img src="{{AppSubURL}}/root/gogs-template/src/master/assests/Python-logo-notext.svg.png" height="30px">
		</div>
	</div>
</div>
{{template "base/footer" .}}
