{{template "base/head" .}}
<div class="home">
	<div style="text-align:center;">
		
		<img class="ui centered image" src="{{AppSubURL}}/assests/logo.png" />

		<br>
		<br>

		<h1> <a href="http://8.134.192.36/"> The X-Files Research Institute </a> </h1>
		
		<h2> An organization that studies any paranormal phenomenon in the world </h1> 
		
		<h3> This is its offshoot, a purely open source organization </h3>
		
		<h3> Aims to explore the fields of computer science and open source. </h3>

		<h3> Here we use various technologies without bias <h3>

		<div style="display: inline">		
			<img src="{{AppSubURL}}/assests/colour-icon.png" height="30px">
			<img src="{{AppSubURL}}/assests/fsharp256.png" height="30px">
			<img src="{{AppSubURL}}/assests/Rescript-logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/ISO_C++_Logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/Rust_programming_language_black_logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/768px-Go_Logo_Blue.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/Scala-spiral-noise-sm.png" height="30px">
			<img src="{{AppSubURL}}/assests/Java_programming_language_logo.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/racket-logo.svg" height="30px">
			<img src="{{AppSubURL}}/assests/JavaScript-logo.png" height="30px">
			<img src="{{AppSubURL}}/assests/Typescript_logo_2020.svg.png" height="30px">
			<img src="{{AppSubURL}}/assests/Python-logo-notext.svg.png" height="30px">
		</div>

		<br>
		<br>

		</h4> Read the <a href="http://8.134.192.36/muqiu/gogs-template/src/main/docs">Document</a> </p>
	</div>
</div>
{{template "base/footer" .}}
