{{template "base/head" .}}
<div class="home">
	<div style="text-align:center;">
		<img src="http://47.120.40.160/avatars/1?s=287" alt="XFRI"></a>
		
		<hr>
		
		<h2> An organization that studies any paranormal phenomenon in the world </h1> 
		
		<h3> This is its offshoot, a purely open source organization </h3>
		
		<h3> Aims to explore the fields of computer science and open source. </h3>

		<ul> 
			<li> Here we use various technologies without bias </li>
			<li> We welcome anyone with a passion for open source and computer science to join </li>
		</ul>
	</div>
</div>
{{template "base/footer" .}}
